.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make it align vertically */
    flex-grow: 1; /* Take the remaining space beside the sidebar */
}

.login-form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Max width for large screens */
}

.input-group {
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-button {
    width: 420px;
    padding: 10px 20px;
    background-color: #ff6016;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #ff7300;
}
