.app {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #171f39;
  color: white;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  margin-right: 10px;
}

.sidebar .sidebar-toggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  padding: 20px;
  /* Adjust as needed */
}

a {
  text-decoration: none !important;
  color: inherit;
}
